@charset "utf-8";
/* CSS Document
 * This is the default stylesheet, and it's mobile first.
 * check styles-medium.css and styles-large.css for other
 * device breakpoints
*/

/* Breakpoint at 800 seems to make sense, since two colum deisng
 * under this dimensions looks awkward. So anything below 800px
 * will have one column.
*/

#footer {
  background-color: #363636;
  color: #aaa;
  font-size: .65em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}


/* ====================== Restaurant Listing (index.html) +============== */
/* TODO: restaurant list looks bad. one column will work on mobile though */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 0;
  font-size: 1em;
}
#restaurants-list li {
  position: relative;
  background-color: #fff;
  margin: 30px;
  min-height: 380px;
  padding: 0;
  border-radius: 25px 0 25px 0;
  box-shadow: 0 3px 9px #0000001f, 0 3px 9px #0000003d;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
  border-radius: 25px 0 0;
}
#restaurants-list li h1 {
  color: #a55408;
  letter-spacing: 0;
  font-weight: 200;
  line-height: 1.3;
  margin: 15px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: .8em 15px;
  /* font-size: .75em; */
}
#restaurants-list li a {
  background-color: #a55408;
  color: #fff;
  font-weight: 600;
  letter-spacing: 3px;
  display: inline-block;
  /* font-size: .75em; */
  width: calc(100% - 30px);
  border-radius: 0 0 25px 0;
  margin: 15px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:focus, #restaurants-list li a:hover {
  background-color: #2f45c2;
  outline: none;
}
#restaurants-list li a:focus {
  box-shadow: inset 4px 4px 10px #c5ea44b5, inset -4px -4px 10px #c5ea44b5;
}

/* ====================== Restaurant Details ====================== */
/* TODO: make Restaurant details look good in small devices */
/**
  * restaurant.html <body> tag has a class .inside. If you want to make changes to elements only
  * in restaurant.html, but not globally, always include the .inside class
***/

#restaurant-name {
  color: #a55408;
  font-size: 1.25em;
  font-weight: 200;
  margin: 0 0 25px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: .9em;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: .8em;
  font-weight: 600;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 4px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  background-color: #f3f3f3;
  border-bottom: 1px solid #d9d9d9;
  padding: 30px 40px 50px;
  /* width: 50%; */
}
#reviews-container {
  padding-bottom: 20px;
}
#reviews-container h2 {
  color: #a55408;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: .1em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px 0;
}
#reviews-list li p {
  margin: 12px 20px;
  font-size: 1.5em;
}

#reviews-list li p.name, #reviews-list li p.date {
  margin: 0;
  font-size: 1.3em;
  background-color: #333;
  color: #f3f3f3;
}

#reviews-list li p.name {
  padding: 12px 0 12px 20px;
  font-weight: 600;
  width: 40%;
  border-radius: 25px 0 0 0;
}
#reviews-list li p.date {
  padding: 12px 20px 12px 0;
  margin-left: -1px;
  width: calc(60% + 1px);
  text-align: right;
}

#reviews-list li p.rating {
  background-color: #784568;
  color: #f3f3f3;
  letter-spacing: 2px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: 600;
}


#restaurant-hours {
  width: 100%;
  border-spacing: 0;

}
#restaurant-hours th, #restaurant-hours td {
  font-size: .9em;
}
#restaurant-hours th {
  text-align: left;
  font-weight: 600;
  vertical-align: top;
}
#restaurant-hours tr:nth-child(odd) {
  background-color: #e3e3e3;
}

/* Make focused elements easier to find */
select:focus, select:hover {
  background-color: #aadaff;
}

.error {
  color: white;
  background-color: #cb3939;
  border-radius: 15px 0;
  padding: 1em;
}
.message {
  color: white;
  background-color: #46ac4e;
  padding: 1em;
  border-radius: 15px 0;
}

.fav-toggle {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  margin: 0;
  font-size: 2em;
  border: none;
  border-radius: 15px 0 15px 0;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}
.fav-toggle:focus,
.fav-toggle:hover {
  box-shadow: 0 0 3pt 2pt #ff000070;
}

.fav-toggle[aria-pressed="false"] {
  color: #919191;
}
.fav-toggle[aria-pressed="true"] {
  color: #ff0000;
}

/* Styles for review form */

form#review {
  background-color: #ddd;
  padding: 0px 0px 0px 25px;
  border-radius: 0px 25px 0px 25px;
  box-shadow: 2px 2px 10px #999;
}
form p:first-child {
  border-radius: 0 25px 0 0;
}
form p:last-child {
  padding: 0 15px 10px 10px;
  text-align: right;
  height: 60px;
}
form p {
  background-color: #fff;
  margin: 0;
  padding: 10px 15px 10px 10px;
}
input#name {
  border-radius: 0 15px 0 0;
}
form radiogroup {
  background-color: #fff;
  display: block;
  padding: 0 10px;
}

radiogroup.rating {
  position: relative;
}

radiogroup.rating label {
  display: inline-block;
  margin: -15px 0px;
  padding: 0;
  font-size: 40px;
  color: #ddd;
}
radiogroup.rating label span {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

radiogroup.rating label.on {
  color: green;
}

.hidden {
  position: absolute !important;
  /* top: -999px;
  left: -999px; */
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  height: 1px; width: 1px !important;
  margin: -1px; padding: 0; border: 0 !important;
}

input[type=text], textarea {
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  width: 100%;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #ddd;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

radiogroup.rating label.focus {
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  text-shadow: 1px 1px 7px rgba(81, 203, 238, 1);
}

.add-review {
  position: relative;
  margin: 0 2px 2px 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: #a14848;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  box-shadow: 2px 2px 7px lightgrey;
}
.add-review:active {
  margin: 2px 0 0 2px;
  box-shadow: none;
}
.add-review:focus, .add-review:hover {
  box-shadow: 1px 1px 7px rgba(81, 203, 238, 1),
              1px -1px 7px rgba(81, 203, 238, 1),
              -1px -1px 7px rgba(81, 203, 238, 1),
              -1px 1px 7px rgba(81, 203, 238, 1);
}

.add-review span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4em;
  text-shadow: /* Simulate text outline */
      2px 0px #fff, 0px 2px #fff,
     -2px 0px #fff, 0px -2px #fff,
      2px 2px #fff, 2px -2px #fff,
     -2px -2px #fff, -2px 2px #fff;
}